!!! 1.1
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title monologue
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/css/style.css'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.3.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/counter.js'}
    %script{:type => 'text/javascript', :src => '/js/emo.js'}
    
  %body
    #wrapper
      %h1 
        %a{:href => '/', :title => 'Back to homepage'} monologue
        
      #postbox
        %form{:method => 'POST', :action => "/edit/#{@post.id}"}
          %span#count.normal 140
          
          %label{:for => 'content'}== What did you do on #{nice_time @post.created_at}? (That's #{days_ago @post.created_at, true} ago)
          %textarea{:name => 'content', :id => 'content', :rows => 3, :cols => 60}= h @post.content
          %br
          
          %label How do they make you feel?
          #emopicker
            - for emo in EMO
              %img.emo{:alt => emo, :src => "/img/emo/#{emo}.png", :class => emo.eql?(@post.emo) ? 'selected' : '', :id => emo}
          
          %input{:type => 'hidden', :name => 'emo', :id => 'emo', :value => DEFAULT_EMO}
          
          %input{:type => 'submit', :id => 'submit', :value => 'Save'}
          %a{:href => @back, :title => 'Cancel editing'} or cancel editing