%h2 What you've done in the last 7 days

%ul 
  - for post in @posts
    %li
      %h4
        %span.meta
          = "Posted on #{nice_time post.created_at, true}"
          &middot;
          %a{:href => "/#{post.id}", :title => 'Permalink to this entry'} # 
          &middot;
          %a{:href => "/edit/#{post.id}", :title => 'Edit this entry'} e
      .postcontent
        %p= post.content
      .bottom_of_entry