%script{:type => 'text/javascript', :src => '/js/humanmsg.js'}
%script{:type => 'text/javascript', :src => '/js/delete.js'}

%h2= @listing

%ul 
  - for post in @posts
    %li[post]
      %a{:href => "/#{post.emo}/days", :title => "View your most recent 7 #{post.emo} days"}
        %img.emo2{:width => 48, :height => 48, :alt => post.emo, :src => "/img/emo/#{post.emo}.png"}
      
      %h4
        %span.meta
          == Posted on #{nice_time post.created_at, true}
          &middot;
          
          %a{:href => "/#{post.id}", :title => 'Permalink to this entry'} # 
          &middot;

          %a{:href => "/edit/#{post.id}", :title => 'Edit this entry'} e
          &middot;
          
          %a[post, :delete]{:href => '#', :title => 'Delete this entry'} &times;

      .postcontent
        %p= post.content

      .bottom_of_entry